<!-- Script de Klaviyo -->
<div class="footer-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 footer-widget footer-widget-contact">
          <div class="logo">
            <img src="./assets/images/logo/af-homepage-logo-footer.svg" alt=""/>
          </div>
          <h6 class="footer-widget-title">Quick Contact</h6>
          <div class="footer-widget-content">
            <div class="contact__number d-flex align-items-center mb-30">
              <i class="icon-af-phone"></i>
              <a href="tel:(888) 570-8828" class="color-white">(888) 570-8828</a>
            </div>
            <p class="mb-20 location_text">
              
              <span style="margin-top: 10px;">American Fire Protection Systems Inc.</span>
            </p> 
            <p class="mb-20 location_text">
              <i class="icon-af-location"></i>
              <span>5113 East Washington Blvd, <br>Commerce, CA 90040</span>
            </p>
            <p class="mb-20 location_text">
              <i class="icon-af-location"></i>
              <span>8281 Melrose Avenue, <br>Suite #302, Los Angeles, CA 90046</span>
            </p>
            <a href="#" class="mail_button">
              <i class="icon-af-email"></i>
              <span>info@americanfireinc.com</span>
            </a>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5">
          <div class="quote-panel">
            <!-- Aquí se inserta el formulario de Klaviyo -->
            <div class="klaviyo-form-STPnqw"></div>
          </div>
          <p class="copyright">
            Copyright ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            American Fire Protection Systems, Inc. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
</div>
