<nav class="navbar navbar-expand-lg sticky-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img
          src="assets/images/logo/af-homepage-logo-header.svg"
          class="logo"
          alt="logo"
        />
      </a>
      <button class="navbar-toggler" type="button">
        <span class="menu-lines"><span></span></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav">
          <li class="nav__item has-dropdown">
            <a href="services.html" class="nav__item-link">Services</a>
            <button class="dropdown-toggle"></button>
            <ul class="dropdown-menu">
              <li class="nav__item">
                <a href="fire-protection-services.html" class="nav__item-link">Fire Protection</a>
              </li>
              <li class="nav__item">
                <a href="maintenance.html" class="nav__item-link">Maintenance</a>
              </li>
              <li class="nav__item">
                <a href="fire-sprinkler-repairs.html" class="nav__item-link">Fire Sprinkler Repairs</a>
              </li>
              <li class="nav__item">
                <a href="fire-sprinkler-inspections.html" class="nav__item-link">Fire Sprinkler Inspections</a>
              </li>
              <!-- /.nav-item -->
            </ul>
            <!-- /.dropdown-menu -->
          </li>
          <!-- /.nav-item -->
          <li class="nav__item has-dropdown">
            <a href="services.html" class="nav__item-link">Industries</a>
            <button class="dropdown-toggle"></button>
            <ul class="dropdown-menu">
              <li class="nav__item">
                <a href="residential-fire-sprinklers.html" class="nav__item-link">Residential</a>
              </li>
              <li class="nav__item">
                <a href="industrial-businesses.html" class="nav__item-link">Industrial</a>
              </li>
              <!-- /.nav-item -->
            </ul>
            <!-- /.dropdown-menu -->
          </li>
          <!-- /.nav-item -->
          <li class="nav__item has-dropdown">
            <a href="services.html" class="nav__item-link">Locations</a>
            <button class="dropdown-toggle" ></button>
            <ul class="dropdown-menu">
              <li class="nav__item">
                <a href="woodland-hills.html" class="nav__item-link">Woodland Hills</a>
              </li>
              <li class="nav__item">
                <a href="la-county.html" class="nav__item-link">LA County</a>
              </li>
              <li class="nav__item">
                <a href="santa-monica.html" class="nav__item-link">Santa Monica</a>
              </li>
              <li class="nav__item">
                <a href="burbank.html" class="nav__item-link">Burbank</a>
              </li>
              <li class="nav__item">
                <a href="ventura-county.html" class="nav__item-link">Ventura County</a>
              </li>
              <li class="nav__item">
                <a href="culver-city.html" class="nav__item-link">Culver City</a>
              </li>
              <li class="nav__item">
                <a href="pasadena.html" class="nav__item-link">Pasadena</a>
              </li>
              <li class="nav__item">
                <a href="north-hollywood.html" class="nav__item-link">North Hollywood</a>
              </li>
              <li class="nav__item">
                <a href="van-nuys.html" class="nav__item-link">Van Nuys</a>
              </li>
              <li class="nav__item">
                <a href="brentwood.html" class="nav__item-link">Brentwood</a>
              </li>
              <li class="nav__item">
                <a href="bel-air.html" class="nav__item-link">Bel Air</a>
              </li>
              <li class="nav__item">
                <a href="beverly-hills.html" class="nav__item-link">Beverly Hills</a>
              </li>
              <li class="nav__item">
                <a href="sherman-oaks.html" class="nav__item-link">Sherman Oaks</a>
              </li>
              <li class="nav__item">
                <a href="encino.html" class="nav__item-link">Encino</a>
              </li>
              <li class="nav__item">
                <a href="studio-city.html" class="nav__item-link">Studio City</a>
              </li>
              <!-- /.nav-item -->
            </ul>
            <!-- /.dropdown-menu -->
          </li>
          <!-- /.nav-item -->
          <li class="nav__item has-dropdown">
            <a href="services.html" class="nav__item-link">Who We Serve</a>
            <button class="dropdown-toggle"></button>
            <ul class="dropdown-menu">
              <li class="nav__item">
                <a href="adus.html" class="nav__item-link">ADUs</a>
              </li>
              <li class="nav__item">
                <a href="duplexes.html" class="nav__item-link">Duplexes</a>
              </li>
              <li class="nav__item">
                <a href="multifamily-properties.html" class="nav__item-link">Multifamily Properties</a>
              </li>
              <!-- /.nav-item -->
            </ul>
            <!-- /.dropdown-menu -->
          </li>
        </ul>
        <!-- /.navbar-nav -->
        <button class="close-mobile-menu d-block d-lg-none">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <!-- /.navbar-collapse -->
      <div class="contact__number d-none d-xl-flex align-items-center">
        <i class="icon-af-phone"></i>
        <a href="tel:(888) 570-8828" class="">(888) 570-8828</a>
      </div>
      <ul class="navbar-actions d-none d-xl-flex align-items-center list-unstyled mb-0">
        <li>
          <a href="#" class="btn btn__primary"data-toggle="modal" data-target="#quoteModal">
            <span>Request Your FREE Quote</span>
            <i class="icon-af-circle-arrow-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.navbar-actions -->
    </div>
    <!-- /.container -->
  </nav>